<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<link href="http://bootswatch.com/readable/bootstrap.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Rufina' rel='stylesheet' type='text/css'>
		<title>Princeton Bartender</title>
	</head>
	<body style="font-family: 'Rufina', serif; padding: 10px;">
		<h1>Princeton Bartender</h1>
		<span style="float:left;">
		<h2>Ingredients</h2>
		{% for i in ingredients %}
			<a href="">{{ i.name }}</a><br/>
		{% endfor %}
	</span>
		<span style="float:right;">
		<h2>Drinks</h2>
		{% for d in drinks %}
			<a href="">{{ d.name }}</a><br/>
		{% endfor %}
	</span>
	</body>
</html>